<!DOCTYPE html>
<html lang="en" xmlns:th="www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <th:block th:replace="base :: headstuff"></th:block>
    <title>Title</title>

</head>

<body>
<div th:replace="base :: navlinks"></div>
<div class="container">
    <div class="jumbotron">

        <h1>Aries Group - Final Project</h1>
        <h2>"Data Visualization"</h2>
        <h2><i>Empower Businesses to see and understand through visualization</i></h2>
        <a href="/login" class="btn btn-primary btn-lg active" role="button" aria-pressed="true">Login</a>
        <a href="/register" class="btn btn-secondary btn-lg active" role="button" aria-pressed="true">Registration</a>

    </div>
</div>
<div sec:authorize="isAuthenticated()">
    <!--<a href="/uploadExcelFile">Upload your Excel File </a>-->
    <form method="post" enctype="multipart/form-data"
          th:action="@{/uploadExcelFile}">
        <input type="file" name="file" accept=".xls,.xlsx"/>
        <input type="submit" value="Upload file"/>
    </form>

    <form
            th:action="@{/generate}"
            method="get"
    >
        <select id="date" name="date">
            <option th:value="may">May</option>
            <option th:value="june">June</option>
            <option th:value="july">July</option>
            <option th:value="august">August</option>
            <option th:value="september">September</option>
            <option th:value="october">October</option>
            <option th:value="november">November</option>
            <option th:value="december">December</option>
            <option th:value="january">January</option>
            <option th:value="february">February</option>
            <option th:value="march">March</option>
            <option th:value="april">April</option>
        </select>

        <input type="submit" value="Generate Chart" />

    </form>
</div>
</body>
</html>