
table.scroll {
    width: 100%;
    border-collapse: collapse;
    border: 2px solid darkturquoise;
    padding-left: 10px;
    /*border-spacing: 50px;*/
}
table { table-layout: fixed; }
body{
    background-color: #eaeaf2;
}
table.center {
    margin-left:auto;
    margin-right:auto;
    width: 100%;
}
/*body {text-align:center;*/
/*}*/

table.scroll tbody,
table.scroll thead { display: block; }

thead tr th {
    height: 30px;
    line-height: 20px;
    text-align: center;
    /*border-bottom: 1px solid #5bc2bc;*/
    /*padding: 5px;*/
    width: 20%;
}

table.scroll tbody {
    height: 100px;
    width: 100%;
    overflow-y: auto;
    overflow-x: hidden;
    text-align: center;
    /*border-bottom: 1px solid #ddd;*/
    /*padding: 8px;*/
}

tbody td,tbody { border-top: 2px solid white;
    height: 30px;
    line-height: 20px;
    text-align: center;
    /*border-bottom: 1px solid #5bc2bc;*/
    /*padding: 5px;*/
    width: 20%;
}

 thead th {
     /*width: 20%;*/
    border-right: 1px solid white;
     white-space: nowrap;
 }

/*tbody td:last-child, thead th:last-child {*/
    /*border-right: none;*/
/*}*/
tr:hover {background-color:#f5f5f5;}
/*#table-scroll {*/
    /*height:300px;*/
    /*overflow:auto;*/
    /*margin-top:20px;*/
/*}*/
/*#table-wrapper table {*/
    /*width:100%;*/

/*}*/
/*#table-wrapper table * {*/
    /*background:yellow;*/
    /*color:black;*/
/*}*/
/*#table-wrapper table thead th .text {*/
    /*position:absolute;*/
    /*top:-20px;*/
    /*z-index:2;*/
    /*height:20px;*/
    /*width:35%;*/
    /*border:1px solid red;*/
/*}*/


 .div footer{
     color: #333;
 }

 /*div.relative {*/
     /*position: relative;*/
 /*}*/

div.relative {
    position: absolute;
    top: 8%;
    left: 5%;
    width: 10%;
    height: 20%;
    border: 3px solid darkturquoise;

}
/*#table-wrapper {*/
    /*position:relative;*/
/*}*/
.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #333;
    text-align: center;
}